@import url('https://fonts.googleapis.com/css?family=Nova+Flat|Open+Sans:400,400i,700|Playfair+Display:700');
@import url('colors.css');
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 14px;
}

#titlebar {
    position: relative;
}

#titlebar h1 {
    font-family: 'Nova Flat', cursive;
    font-size: 2em;
}

#titlebar .login {
    position: absolute;
    right: 0px;
    top: 0px;
}

button {
    font-weight: bold;
    border: 0px;
    padding: 1vh 2vw;
    font-size: 1em;
}

button:hover {
    filter: brightness(70%);
}

button.navy {
    background-color: var(--navy);
    color: #fff;
}

button.mag {
    background-color: var(--mag);
    color: #fff;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5em;
    padding-bottom: 5vh;
}

header {
    padding: 5vh;
    padding-bottom: 0px;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

section {
    padding: 5vh;
}

section.navy {
    background-color: var(--navy);
    color: #fff;
}

.center {
    margin: auto;
}

.flexContainer {
    display: flex;
}

.fifty {
    flex: .5;
    padding: 1vw;
}

.half {
    width: 60%;
}

em {
    font-weight: 700;
    display: block;
    padding-bottom: 2vh;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

form a {
    text-transform: uppercase;
    color: #585858;
    font-size: .9em;
    padding-bottom: 2px;
    margin-bottom: 3vh;
    display: block;
}

form a:hover {
    color: #000;
}

form label {
    text-transform: uppercase;
    color: #575757;
    font-size: .75em;
    padding-bottom: 2px;
    display: block;
}

form input, form select {
    padding: 1vw;
    margin-bottom: 1.5vh;
    font-size: 1.25em;
    width: 100%;
    border: 1px solid #a1a1a1;
}

form input[type=submit] {
    background-color: var(--navy);
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
}

.error label {
    color: #b30f0f;
}

.error input {
    border-color: #b30f0f;
}

footer {
    width: 100%;
    text-align: center;
    line-height: 7.5vh;
    background: #17191f;
    color: #fff;
}

#userInfo {
    position: absolute;
    color: #000;
    right: 0px;
    top: 0px;
}

#userInfo a {
    padding: 0px 10px;
    border-right: 1px solid #888;
}

#userInfo a:hover {
    color: #444;
}

#userInfo a:last-child {
    border: 0px;
}

.mainSection {
    width: 50%;
    margin: auto;
}