header {
    background-color: var(--navy);
    color: #fff;
}
section {
    width: 80%;
    margin: auto;
}
.fifty {
    padding: 0px;
}
iframe {
    height: 100%;
    width: 100%;
    max-height: 60vh;
}
#userInfo {
    color:#fff;
}
#userInfo a:hover {
    color: #ddd;
}

#exerciseComplete {
    color: var(--green);
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
}

#submitExercise {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #e4e4e4;
}