html {
    background-color: var(--navy);
}

#titlebar h1 {
    color: #fff;
    padding: 0px;
}

#window {
    background: #fff;
    width: 30%;
    margin: auto;
}

section>h1 {
    text-align: left;
}

section a {
    color: #585858;
    font-size: 1em;
    padding-bottom: 2px;
    margin-bottom: 3vh;
    display: block;
    text-align: center;
}

section a:hover {
    color: #000;
}

section {
    padding-bottom:2vh;
}

section>h1 {
    padding: 0px 0px 1vh 0px;
}

#errorMessage {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-transform: uppercase;
    text-align: center;
    color: #b30f0f;
    background: #f3b2b2;
    margin: 2vh 0px;
}